--extra-index-url https://mirrors.cloud.tencent.com/pypi/simple/
--extra-index-url https://mirrors.aliyun.com/pypi/simple

# Core ML/Deep Learning
transformers==4.57.6
diffusers==0.35.2
accelerate==1.14.0
pytorch-lightning==2.5.6
huggingface-hub==0.36.2
safetensors==0.7.0

# Scientific Computing
numpy==1.26.4
scipy==1.15.3
einops==0.8.2
pandas==2.2.3

# Computer Vision & Image Processing
opencv-python==4.10.0.84
imageio==2.36.0
scikit-image==0.25.2
rembg==2.0.65
realesrgan==0.3.0
tb_nightly==2.18.0a20240726
basicsr==1.4.2

# Web Framework (for demo)
gradio==5.33.2
fastapi==0.120.4
uvicorn==0.35.0

# GPU Computing (requires CUDA)
cupy-cuda12x==13.5.1

# ONNX Runtime
onnxruntime==1.18.1
torchmetrics==1.7.4

#validation
pydantic==2.10.6

#torch utils packages
timm
pythreejs
torchdiffeq
deepspeed

