--extra-index-url https://mirrors.cloud.tencent.com/pypi/simple/
--extra-index-url https://mirrors.aliyun.com/pypi/simple

# Scientific Computing
numpy==1.26.4
scipy==1.15.3
einops==0.8.2
pandas==2.3.3

# Web Framework (for demo)
gradio==5.33.2
fastapi==0.120.4
uvicorn==0.35.0

#validation
pydantic==2.10.6

