--extra-index-url https://mirrors.cloud.tencent.com/pypi/simple/
--extra-index-url https://mirrors.aliyun.com/pypi/simple

# Core ML/Deep Learning
transformers==4.57.6
diffusers==0.35.2
accelerate==1.14.0
pytorch-lightning==2.6.5
huggingface-hub==0.36.2
safetensors==0.7.0

# GPU Computing (requires CUDA)
cupy-cuda12x==13.5.1

# ONNX Runtime
onnxruntime==1.18.1
torchmetrics==1.7.4

#torch utils packages
timm
pythreejs
torchdiffeq
deepspeed
