--extra-index-url https://mirrors.cloud.tencent.com/pypi/simple/
--extra-index-url https://mirrors.aliyun.com/pypi/simple

# Core ML/Deep Learning
transformers==5.16.1
diffusers==0.35.2
accelerate==1.14.0
pytorch-lightning==2.6.5
huggingface-hub==1.2.9
hf-transfer
safetensors==0.8.0

# GPU Computing (requires CUDA)
cupy-cuda12x==13.5.1

# ONNX Runtime
onnxruntime==1.18.1
torchmetrics==1.7.4

#torch utils packages
timm
pythreejs
torchdiffeq
deepspeed

# Computer Vision & Image Processing
opencv-python==4.10.0.84
imageio==2.36.0
scikit-image==0.25.2
rembg==2.0.69
realesrgan==0.3.0
tb_nightly==2.18.0a20240726
basicsr==1.4.2
